*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(215, 243, 243);
    background-image: -webkit-linear-gradient(rgb(175,75,75),rgb(31,31,31),pink);
    min-height: 800px;
}
#game{
    height: 500px;
    width: 400px;
    border: 1px solid black;
    background-image: url(pg1.jpg);
    background-size: cover;
    margin: 1rem auto;
    overflow: hidden;
}
#block{
    background-color: blue;
    position: relative;
    width: 50px;
    height: 500px;
    left: 200px;
    animation: block 2s linear infinite;

}
@keyframes block{
    0%{
        left: 400px;
    }
    100%{
        left:-50px;

    }


}
#hole{
    background-color: yellow;
    position: relative;
    width: 50px;
    height: 150px;
    left: 200px;
    top: -500px;
    animation: block 2s linear infinite;
}
#bird{
    /* background-color: blue; */
    position: fixed;
    width: 50px;
    height: 50px;
    top:100px;

}
#bird img{
    width: 50px;
    height: 50px;
}
#result{
    height: 200px;
    width: 300px;
    background-color: brown;
    border: 2px solid white;
    border-radius: 10px;
     display: none;
     margin: 5rem auto;
     text-align: center;
}
#btn{
    padding: 0.5rem;
    border: none;
    border-radius: 11px;
    background-color: rgb(201, 241, 201);
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 1rem;
    cursor: pointer;
}
#btn:hover{
    padding: 0.8rem;
}
#text{
    margin-top: 1rem;
    font-size: 2rem;
    color: seashell;
}